<ion-list>
  <ion-item>
    <ion-label>Cybersecurity Standard</ion-label>
    <ion-select [(ngModel)]="standard">
      <ion-option value="essential8">Essential Eight</ion-option>
      <ion-option value="melani">MELANI</ion-option>
      <ion-option value="cybercomp">CyberComp Basic</ion-option>
    </ion-select>
  </ion-item>
</ion-list>
<div padding>
  <ion-segment [(ngModel)]="mode_of_attack">
    <ion-segment-button value="alle">
      Alle
    </ion-segment-button>
    <ion-segment-button value="schadsoftware">
      Schadsoftware
    </ion-segment-button>
    <ion-segment-button value="systemeinbruch">
      Systemeinbruch
    </ion-segment-button>
    <ion-segment-button value="social_engineering">
      Social Engineering
    </ion-segment-button>
    <ion-segment-button value="missbrauch">
      Missbrauch von Berechtigungen und Systemen
    </ion-segment-button>
    <ion-segment-button value="diebstahl">
      Diebstahl (Verlust) von mobilen Geräten oder Datenträgern
    </ion-segment-button>
  </ion-segment>
</div>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
         <div [ngSwitch]="mode_of_attack"> 
            <ion-list *ngSwitchCase="'alle'">
              <ion-item-group>
                <ion-item *ngFor="let measure of measures"
                  [class.selected]="measure === selectedMeasure"
                  (click)="onSelect(measure)">
                 <!-- <button ion-button icon-only> -->
                    <ion-icon name="checkmark-circle-outline"></ion-icon>
                  <!-- </button> -->
                  <!-- <button ion-button color="light"> -->  
                    {{measure.name}}
                  <!-- </button> -->
                  </ion-item>
              </ion-item-group>
            </ion-list>
            <ion-list *ngSwitchCase="'schadsoftware'">
            
            </ion-list>  
          </div>
          </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <div *ngIf="selectedMeasure">
          <ion-card-content>
            {{selectedMeasure.description}}
          </ion-card-content>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
