<ion-list>
  <ion-item>
    <ion-label>Cybersecurity Standard</ion-label>
    <ion-select [(ngModel)]="standard">
      <ion-option value="essential8">Essential Eight</ion-option>
      <ion-option value="melani">MELANI</ion-option>
      <ion-option value="cybercomp">CyberComp Basic</ion-option>
    </ion-select>
  </ion-item>
</ion-list>
<div padding>
  <ion-segment [(ngModel)]="mode_of_attack">
    <ion-segment-button value="all">
      Alle
    </ion-segment-button>
    <ion-segment-button value="malware">
      Schadsoftware
    </ion-segment-button>
    <ion-segment-button value="compromise">
      Systemeinbruch
    </ion-segment-button>
    <ion-segment-button value="social_engineering">
      Social Engineering
    </ion-segment-button>
    <ion-segment-button value="misuse">
      Missbrauch von Berechtigungen und Systemen
    </ion-segment-button>
    <ion-segment-button value="theft">
      Diebstahl (Verlust) von mobilen Geräten oder Datenträgern
    </ion-segment-button>
  </ion-segment>
</div>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card>
        <ion-card-content>
         <div [ngSwitch]="mode_of_attack"> 
            <ion-list *ngSwitchCase="'all'">
              <ion-item-group>
                <ion-item *ngFor="let measure of measures" [class.selected]="measure === selectedMeasure" (click)="onSelect(measure)">
                  <ion-icon name="checkmark-circle-outline"></ion-icon>
                  {{measure.name}}
                </ion-item>
              </ion-item-group>
            </ion-list>
            <ion-list *ngSwitchCase="'malware'">
              <ion-item-group>
                <ion-item *ngFor="let measure of measures | measureFilter: isMalware" [class.selected]="measure === selectedMeasure" (click)="onSelect(measure)">
                  <ion-icon name="checkmark-circle-outline"></ion-icon>
                  {{measure.name}}
                </ion-item>
              </ion-item-group>
            </ion-list>
            <ion-list *ngSwitchCase="'compromise'">
              <ion-item-group>
                <div *ngFor="let measure of measures" >
                  <ion-item [class.selected]="measure === selectedMeasure" (click)="onSelect(measure)" *ngIf="measure.isCompromise == true">
                    <ion-icon name="checkmark-circle-outline"></ion-icon>
                    {{measure.name}}
                  </ion-item>
                </div>
              </ion-item-group>
            </ion-list>
            <ion-list *ngSwitchCase="'social_engineering'">
              <ion-item-group>
                <div *ngFor="let measure of measures">
                  <ion-item *ngIf="measure.isSocialEngineering == true" [class.selected]="measure === selectedMeasure" (click)="onSelect(measure)">
                    <ion-icon name="checkmark-circle-outline"></ion-icon>
                    {{measure.name}}
                  </ion-item>
                </div>
              </ion-item-group>
            </ion-list>
            <ion-list *ngSwitchCase="'misuse'">
              <ion-item-group>
                <div *ngFor="let measure of measures">
                  <ion-item *ngIf="measure.isMisuse == true" [class.selected]="measure === selectedMeasure" (click)="onSelect(measure)">
                    <ion-icon name="checkmark-circle-outline"></ion-icon>
                    {{measure.name}}
                  </ion-item>
                </div>
              </ion-item-group>
            </ion-list>
            <ion-list *ngSwitchCase="'theft'">
              <ion-item-group>
                <div *ngFor="let measure of measures">
                  <ion-item *ngIf="measure.isTheft == true" [class.selected]="measure === selectedMeasure" (click)="onSelect(measure)">
                    <ion-icon name="checkmark-circle-outline"></ion-icon>
                    {{measure.name}}
                  </ion-item>
                </div>
              </ion-item-group>
            </ion-list>            
          </div>
          </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <div *ngIf="selectedMeasure">
          <ion-card-content>
            {{selectedMeasure.description}}
          </ion-card-content>
        </div>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
